<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/chatHome.css">
</head>
<body>
    <header>
        <h1>Chatzapp</h1>
    </header>
    <div class="chat" id="chat">
        <div class="groupTable">
            
            <a href="./newGroup.html"><button id="newGroup">Create new Group</button></a>
            <div id="groupList"></div>
        </div>
        <div class="chatView">
            <div class="chatHeader">
                <div class="groupHeader" id="groupHeader"></div>
                <div class="groupOptions">
                    <select id="groupOptions">
                        <option value="" disabled selected>Options</option>
                    </select>
                </div>
            </div>
            <div class="chatBox" id="chatBox"></div>
            <div class="chatInput">
            
            <form id="form">
                <input type="text" id="message">
                <button type="submit">send</button>
            </form>
            
        </div>
    </div>
        
    </div>
    <div class="overlay"></div>
    <div id="addUserModal" class="modal">
        <span class="close" onclick="closeModal('addUserModal')">&times;</span>
        <h2>Add User</h2>
        <form id="searchUser">
            <input id="userMobile" type="text" placeHolder="Enter Mobile Number">
            <button type="submit">Search User</button>
        </form>
        <div id="userListBox"></div>
    </div>

    <div id="manageUsersModal" class="modal">
        <span class="close" onclick="closeModal('manageUsersModal')">&times;</span>
        <h2>Manage Users</h2>
        <div class="userList">
            <ul id="usersList"></ul>
        </div>
        
       
    </div>

    <div id="deleteGroupModal" class="modal">
                
        <h4>Are you sure you want to delete Group?</h4>
        <button id="delete">Delete Group

        </button>
        <button onclick="closeModal('deleteGroupModal')">Cancel</button>
        
    </div>
    <div id="exitGroupModal" class="modal">
                
        <h4>Are you sure you want to Exit Group?</h4>
        <button id="exit">Exit Group

        </button>
        <button onclick="closeModal('exitGroupModal')">Cancel</button>
        
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/chatHomeManageGroup.js"></script>
    <script src="./public/js/chatHome.js"></script>


</body>
</html>