<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/signup.css">
</head>
<body>
    <div class="form">
        <form id="newGroup">

            <div class="input">
                <h3>Group Name</h3>
                <input type="text" id="group">  
            <h3>About</h3>
            <input type="text" id="about">
            <button type="submit">create new Group</button>
        </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/newGroup.js"></script>
</body>
</html>